* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    font-family: sans-serif cursive;
    display: flex;
    align-items: center;
    justify-content: center;
    background: black;
}

.heading {
    font-size: 10rem;
    font-weight: 900;
    background: url(https://natureconservancy-h.assetsadobe.com/is/image/content/dam/tnc/nature/en/photos/Zugpsitze_mountain.jpg?crop=0%2C214%2C3008%2C1579&wid=1200&hei=630&scl=2.506666666666667);
    background-size: cover;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}